dev-practices/_build/doctrees/environment.pickle
dev-practices/_build/doctrees/index.doctree
dev-practices/_build/doctrees/introduction.doctree
dev-practices/_build/doctrees/practices.doctree
dev-practices/_build/latex/LICRcyr2utf8.xdy
dev-practices/_build/latex/LICRlatin2utf8.xdy
dev-practices/_build/latex/LatinRules.xdy
dev-practices/_build/latex/Makefile
dev-practices/_build/latex/footnotehyper-sphinx.sty
dev-practices/_build/latex/latexmkjarc
dev-practices/_build/latex/latexmkrc
dev-practices/_build/latex/make.bat
dev-practices/_build/latex/practices.aux
dev-practices/_build/latex/practices.fdb_latexmk
dev-practices/_build/latex/practices.fls
dev-practices/_build/latex/practices.idx
dev-practices/_build/latex/practices.ilg
dev-practices/_build/latex/practices.ind
dev-practices/_build/latex/practices.log
dev-practices/_build/latex/practices.out
dev-practices/_build/latex/practices.pdf
dev-practices/_build/latex/practices.tex
dev-practices/_build/latex/practices.toc
dev-practices/_build/latex/python.ist
dev-practices/_build/latex/sphinx.sty
dev-practices/_build/latex/sphinx.xdy
dev-practices/_build/latex/sphinxhighlight.sty
dev-practices/_build/latex/sphinxhowto.cls
dev-practices/_build/latex/sphinxmanual.cls
dev-practices/_build/latex/sphinxmulticell.sty
